{% extends "template.html" %}

{% block title %}
{{ destination.title }} Gallery
{% endblock %}

{% block content %}

<div class="container py-4">

    <h1 class="text-center mb-4">
        {{ destination.title }}
    </h1>

    <div class="gallery-grid">

        {% for image in images %}

       <div class="modal-body text-center position-relative">

    <button
        type="button"
        class="gallery-nav gallery-prev"
        onclick="previousImage()"
    >
        &#10094;
    </button>

    <img
        id="galleryModalImage"
        src=""
        class="img-fluid"
        alt="Gallery image"
    >

    <button
        type="button"
        class="gallery-nav gallery-next"
        onclick="nextImage()"
    >
        &#10095;
    </button>

</div>
        {% endfor %}

    </div>

</div>


<div
    class="modal fade"
    id="galleryModal"
    tabindex="-1"
>

    <div class="modal-dialog modal-dialog-centered modal-xl">

        <div class="modal-content bg-dark">

            <div class="modal-header border-0">

                <button
                    type="button"
                    class="btn-close btn-close-white"
                    data-bs-dismiss="modal"
                ></button>

            </div>

            <div class="modal-body text-center">

                <img
                    id="galleryModalImage"
                    src=""
                    class="img-fluid"
                    alt="Gallery image"
                >

            </div>

        </div>

    </div>

</div>


<script>

let galleryImages = [];
let currentImageIndex = 0;

document.addEventListener('DOMContentLoaded', function () {

    galleryImages = Array.from(
        document.querySelectorAll('.gallery-image')
    );

});

function openGalleryImage(imageSrc) {

    currentImageIndex = galleryImages.findIndex(
        image => image.src === imageSrc
    );

    document.getElementById(
        'galleryModalImage'
    ).src = imageSrc;
}


function nextImage() {

    if (galleryImages.length === 0) {
        return;
    }

    currentImageIndex++;

    if (currentImageIndex >= galleryImages.length) {
        currentImageIndex = 0;
    }

    document.getElementById(
        'galleryModalImage'
    ).src = galleryImages[currentImageIndex].src;
}


function previousImage() {

    if (galleryImages.length === 0) {
        return;
    }

    currentImageIndex--;

    if (currentImageIndex < 0) {
        currentImageIndex = galleryImages.length - 1;
    }

    document.getElementById(
        'galleryModalImage'
    ).src = galleryImages[currentImageIndex].src;
}

</script>

{% endblock %}
