<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <title>Mon Repos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
  .map-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 20px;
  }
  .map {
      width: 60%;  
      height: 400px; 
    }

    .emoji-step {
      margin: 5px 0;
    }

  .text-wrapper {
    width: 40%;   
    padding: 10px;
  }
  .paragraph {
      margin-bottom: 15px;
    }

  .info-section {
  width: 35%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
</style>
</head>
<body>
  <div class="container">
    <h2>Mon Repos</h2>  
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"  aria-current="true" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3"  aria-current="true" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4"  aria-current="true" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-current="true" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6"  aria-current="true" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="7"  aria-current="true" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="8"  aria-current="true" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="9"  aria-current="true" aria-label="Slide 10"></button>
         <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="10"  aria-current="true" aria-label="Slide 10"></button>
      </div>
    
      <!-- Inner -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='/img/mon repo/1.jpg') }}" class="d-block w-100" alt="CORFU2" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/mon repo/2.jpg') }}" class="d-block w-100" alt="CORFU2" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/mon repo/3.jpg') }}" class="d-block w-100" alt="CORFU3" style="width:100%;">
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='/img/mon repo/4.jpg') }}" class="d-block w-100" alt="CORFU4" style="width:100%;">
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='/img/mon repo/5.jpg') }}" class="d-block w-100" alt="CORFU3" style="width:100%;">
        </div>
                <div class="carousel-item">
            <img src="{{ url_for('static', filename='/img/mon repo/6.jpg') }}" class="d-block w-100" alt="CORFU3" style="width:100%;">
        </div>
                <div class="carousel-item">
            <img src="{{ url_for('static', filename='/img/mon repo/7.jpg') }}" class="d-block w-100" alt="CORFU3" style="width:100%;">
        </div>
                <div class="carousel-item">
            <img src="{{ url_for('static', filename='/img/mon repo8.jpg') }}" class="d-block w-100" alt="CORFU3" style="width:100%;">
        </div>
                <div class="carousel-item">
            <img src="{{ url_for('static', filename='/img/mon repo/9.jpg') }}" class="d-block w-100" alt="CORFU3" style="width:100%;">
        </div>
                <div class="carousel-item">
            <img src="{{ url_for('static', filename='/img/mon repo/10.jpg') }}" class="d-block w-100" alt="CORFU3" style="width:100%;">
        </div>
                <div class="carousel-item">
            <img src="{{ url_for('static', filename='/img/mon repo/11.jpg') }}" class="d-block w-100" alt="CORFU3" style="width:100%;">
        </div>
    </div>
</div>
    
      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>

<br>

<section id="">
      <p>
          {{'Το Μον Ρεπό (Mon Repos) είναι ένας εξαιρετικός προορισμός για περίπατο, εξερεύνηση ιστορίας και επαφή με τη φύση στην Κέρκυρα.'|autotranslate}}
          {{'Το Μον Ρεπό είναι ένα νεοκλασικό ανάκτορο χτισμένο μέσα σε μια έκταση περίπου 258 στρεμμάτων γεμάτη κήπους, μονοπάτια και αρχαιολογικά ευρήματα.'|autotranslate}} 
          {{'Βρίσκεται νοτιοανατολικά της Παλιάς Πόλης της Κέρκυρας, κοντά στην περιοχή Ανάληψη/Κανόνι.'|autotranslate}}
          {{'Ο κήπος του Μον Ρεπό είναι καταπράσινος με κυπαρίσσια, πεύκα, φοίνικες, ελιές, πικροδάφνες και μεσογειακούς θάμνους.'|autotranslate}}
          {{'Πολλά μονοπάτια οδηγούν σε σημεία με αρχαιολογικά ερείπια από την αρχαία πόλη της Κέρκυρας (π.χ. ναός της Ήρας).'|autotranslate}}
          {{'Μπορείς να δεις πουλιά, πεταλούδες, σαύρες, και με λίγη τύχη, σκαντζόχοιρους ή χελώνες.'|autotranslate}}
          {{'Χτίστηκε το 1831 από τον Άγγλο αρμοστή Sir Frederick Adam, ως θερινή κατοικία του και της συζύγου του.'|autotranslate}}
          {{'Αργότερα χρησιμοποιήθηκε ως θερινή κατοικία της ελληνικής βασιλικής οικογένειας.'|autotranslate}}
          {{'Εκεί γεννήθηκε ο Πρίγκιπας Φίλιππος, σύζυγος της Βασίλισσας Ελισάβετ Β΄ του Ηνωμένου Βασιλείου (1921).'|autotranslate}}
          {{'Σήμερα στεγάζει το Αρχαιολογικό Μουσείο Παλαιόπολης.'|autotranslate}}

      </p>
</section>
<br>
<br>

<div class="map-wrapper">
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d24588.64864998056!2d19.901301593765986!3d39.6141183916343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x135b5ddd6d8f19a9%3A0x13deee41cb346dab!2zzqPPgM65zrHOvc6szrTOsSwgzprOrc-BzrrPhc-BzrE!3m2!1d39.6230936!2d19.9246214!4m5!1s0x135b5e0d30447019%3A0xcbc659f33fbde146!2zzqDOrM-BzrrOvyDOnM6_zr0gzqHOtc-Az4wsIM6azq3Pgc66z4XPgc6xIDQ5MSAwMA!3m2!1d39.604245899999995!2d19.9250912!5e0!3m2!1sel!2sgr!4v1748197056650!5m2!1sel!2sgr"    
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <div class="info-section">🚩<p>{{'Αφετηρία:Πλατεία Σπιανάδα / Λιστόν'|autotranslation}}</p>
   </p>🚶‍♂️ {{'Περπατάς προς το νότιο άκρο της Παλιάς Πόλης και συνεχίζεις προς το δρόμο Αρσενίου – Γαριτσάς – Ανάληψης.'|autotranslation}} </p>
   <p> ⬆️ {{'Από το Λιστόν, κινείσαι προς τη λεωφόρο Δούσμανη, περνάς από το γήπεδο της Κέρκυρας. Συνεχίζεις παράλληλα με τον όρμο της Γαρίτσας.'|autotranslation}}</p>
   <p> 🌉 {{'Μπαίνεις στον δρόμο Ανάληψης, όπου βρίσκεται και η είσοδος του Μον Ρεπό.'|autotranslation}}</p>
  </div>
  
  <p class="paragraph">
   🕒 <strong>{{'Διάρκεια:</strong> ~25 λεπτά με ήπιο ρυθμό.'|autotranslate}} 
   <br>
   📏 <strong>{{'Απόσταση:</strong> περίπου 2,3–2,5 χιλιόμετρα'|autotranslate}}<br>
   💡 <strong>{{'Συμβουλή:</strong> Φορέστε αθλητικό παπούτσι. Η διαδρομή είναι ευθεία, ασφαλής και γραφική, με θέα στη θάλασσα.'|autotranslate}} 
  </p>  
</div>
{% extends "template.html" %}
    {% block content %}
    {% endblock %}

    <script>
      document.addEventListener('DOMContentLoaded', function () {
          initLiveSearch();
      });
  </script>

  </body>

</html>





