<html lang="en" dir="ltr">
    <head>
    <title>Perama</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
  .map-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 20px;
  }
  .map {
      width: 60%;  
      height: 400px; 
    }

    .emoji-step {
      margin: 5px 0;
    }

  .text-wrapper {
    width: 40%;   
    padding: 10px;
  }
  .paragraph {
      margin-bottom: 15px;
    }

  .info-section {
  width: 35%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
</style>
</head>
<body>
<div class="container">
    <h2>Perama</h2>  
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"  aria-current="true" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3"  aria-current="true" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4"  aria-current="true" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-current="true" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6"  aria-current="true" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="7"  aria-current="true" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="8"  aria-current="true" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="9"  aria-current="true" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="10"  aria-current="true" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="11"  aria-current="true" aria-label="Slide 12"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="11"  aria-current="true" aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="11"  aria-current="true" aria-label="Slide 14"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="11"  aria-current="true" aria-label="Slide 15"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="11"  aria-current="true" aria-label="Slide 16"></button>

    </div>
    
      <!-- Inner -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/2.jpg.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/imgdromos toy nerou perama/3.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/4.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/5.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/6.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/7.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/8.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/9.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
                <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/10.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/11.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/12.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/13.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/14.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/15.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/16.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/17.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='/img/dromos toy nerou perama/18.jpg') }}" class="d-block w-100" alt="CORFU1" style="width:100%;">
        </div>
      </div>
    </div>
    
      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>

<br>

<section id="">
      <p>
      {{'Η διαδρομή γνωστή ως «Ο δρόμος του νερού» (Γιάρδα) στο Πέραμα Κέρκυρας είναι ένα ιστορικό και γραφικό μονοπάτι που ακολουθεί το παλιό βρετανικό αγωγό ύδρευσης, ο οποίος κατασκευάστηκε την εποχή της Αγγλοκρατίας για να τροφοδοτεί την πόλη της Κέρκυρας.'|autotranslate}} 
      {{'Το μονοπάτι ξεκινά στο Πέραμα, το οποίο βρίσκεται περίπου στο επίπεδο της θάλασσας (~0–20 μέτρα υψόμετρο).'|autotranslate}}
      {{'Αποτελείται από ελαφρά ανηφορικά και κατηφορικά τμήματα, κυρίως χωμάτινα μονοπάτια, με τμήματα σκιάς κάτω από δέντρα καθώς ακολουθεί τον αγωγό. Υπάρχουν και λίγες πλακόστρωτες γέφυρες πάνω από λιμνοθάλασσα και χειμάρους.'|autotranslate}}
      {{'Το μονοπάτι συνδέει το Πέραμα με το Γαστούρι/Αχίλλειο, περνώντας κάτω από τη διάσημη γέφυρα, μέσα από δάση και κατά μήκος του παλιού αγωγού ύδατος.'|autotranslate}} 
        {{'Η έκταση αυξάνεται με την απόσταση από τη θάλασσα, αλλά με πολύ ήπια βαθμίδα.'|autotranslate}}
        
      </p>
</section>
<br>
<br>

<div class="map-wrapper">
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d6149.569877553637!2d19.91044459049334!3d39.58699705463108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x135b5e530c2e7fa7%3A0xd19803bfcf08a136!2zzqDOrc-BzrHOvM6x!3m2!1d39.5827368!2d19.913344499999997!4m5!1s0x135b5e4458b12439%3A0xeb3b07963ab676c!2zzpnOtc-BzqwgzpzOv869zq4gzqDOsc69zrHOs86vzrHPgiDOks67zrHPh861z4HOvc-Ozr0sIM6gzrHOu86xzrnPjM-Azr_Ou863z4IgMTYzLCDOms6tz4HOus-Fz4HOsSA0OTEgMDA!3m2!1d39.5899918!2d19.917144399999998!5e0!3m2!1sel!2sgr!4v1753371265130!5m2!1sel!2sgr"   
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <div class="info-section"> <p>🚩{{'Αφετηρία: Ξεκινήστε από το κέντρο του Περάματος, ακολουθώντας πινακίδες προς «δρόμο του νερού» ή Γιάρδα. Εναλλακτικά, πάρτε το μονοπάτι κάτω από τη γέφυρα του Κανονιού.'|autotranslate}}</p>
    <p>🚶‍♂️{{'Το μονοπάτι ανηφορίζει ελαφρά, ακολουθώντας γεωμετρικά τον αγωγό. Διασχίζει πιθανώς δασικές εκτάσεις και μικρούς χειμάρρους, με ήπια φυσική κλίση, σχεδόν χωρίς οδοστρωτό.'|autotranslate}}</p>
    <p>⬆️ {{'Ορατός ο αγωγός νερού από τις σπάνιες γέφυρες/δρύες κάτω από δέντρα. Πανοραμική θέα στον κόλπο του Κανονιού και στο εμβληματικό Ποντικονήσι.'|autotranslate}}</p>
    <p>🌉 {{'Ο δρόμος φτάνει σχεδόν έως τη διασταύρωση για Γαστούρι/Αχίλλειο. Από εκεί μπορείτε να συνεχίσετε προς Αχίλλειο ή να επιστρέψετε στο Πέραμα με το ίδιο μονοπάτι.'|autotranslate}}</p>
  </div>
  
  <p class="paragraph">
    🕒 <strong>{{'Διάρκεια:</strong> ~2 ώρες'|autotranslate}}<br>
    📏 <strong>{{'Απόσταση:</strong>(πήγαινε-έλα): ~4–6 km.'|autotranslate}}<br>
    💡 <strong>{{'Συμβουλή:</strong> Παπούτσια trekking ή ορειβατικά.'|autotranslate}}
  </p> 
</div>
{% extends "template.html" %}
    {% block content %}
    {% endblock %}

    <script>
      document.addEventListener('DOMContentLoaded', function () {
          initLiveSearch();
      });
  </script>

  </body>
</html>
